*{
    padding: 0;
    margin: 0;
    
}

.box{
  border: 2px solid seagreen;
  display: inline-block;
  padding: 45px;
  margin: 35px;
  width: 219px;
  text-align: center;
}

.box1{
    /* display: none; jab tume box exist hi nahi karna h tuh usski space bhi nahi hogi nah padding */
    /* visibility:hidden; /* issme box aur space exist karegi lekin bas hidden hogi*/
} 
